<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Sophie's Events" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../images/profile.jpeg" />

    <link rel="icon" type="image/jpeg" href="./images/profile.jpeg" />
    <link rel="apple-touch-icon" sizes="180x180" href="./images/profile.jpeg" />
    <link rel="stylesheet" href="../style/style.css" />

    <title>Sophie's Events</title>
  </head>
  <body>
    <div class="body-container">
      <h1 class="important-text styled-text-1">Add Event</h1>

      <form id="addEvent" class="add-event-section">
        <h3 class="bold italic important-text">Event Title</h3>
        <input type="text" name="event-title" id="eventTitle" />

        <h3 class="bold italic important-text">Event Date</h3>
        <input type="date" name="event-date" id="eventDate" />

        <h3 class="bold italic important-text">Event Time</h3>
        <input type="time" name="event-time" id="eventTime" />
      </form>

      <div class="buttons">
        <a id="sendByTelegram">
          <button class="btn" onclick="sendForm()">Save Event</button></a
        >
        <a href="../index.html"><button class="btn">Go Back</button></a>
      </div>
    </div>

    <script>
      // Add Events
      function sendForm() {
        const eventTitle = document.getElementById("eventTitle").value;
        const eventDate = document.getElementById("eventDate").value;
        const eventTime = document.getElementById("eventTime").value;

        let message = `NEW%20EVENT%0Atitle:%20${eventTitle};%0Adate:%20${eventDate};%0Atime:%20${eventTime}`;
        let link = `http://t.me/saru_senpaii?text=${message}`;

        document.getElementById("sendByTelegram").href = link;
      }
    </script>
  </body>
</html>
