<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Sophie's Events" />
    <meta property="og:description" content="My next events" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../images/profile.jpeg" />

    <link rel="icon" type="image/jpeg" href="./images/profile.jpeg" />
    <link rel="apple-touch-icon" sizes="180x180" href="./images/profile.jpeg" />
    <link rel="stylesheet" href="../style/style.css" />

    <title>Sophie's Events</title>
  </head>
  <body>
    <div class="body-container">
      <h1 class="important-text styled-text-1">Next Events</h1>

      <div class="events-schedule">
        <!-- <h3 class="bold italic">There are no events coming soon.</h3> -->
        <div class="event">
          <h2 class="event-title important-text styled-text-2">Ojo de Agua</h2>
          <h3 class="event-info">Every Saturday at 6:00 p.m.</h3>
        </div>
      </div>
      <a href="../index.html"><button class="btn">Go Back</button></a>
    </div>

    <script src="../js/app.js"></script>
  </body>
</html>
