<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta property="og:title" content="Sophie's Sample" />
		<meta property="og:description" content="A sample of my repertoire" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="../images/profile.jpeg" />

		<link rel="icon" type="image/jpeg" href="./images/profile.jpeg" />
		<link rel="apple-touch-icon" sizes="180x180" href="./images/profile.jpeg" />
		<link rel="stylesheet" href="../style/style.css" />

		<title>My Repertoire</title>
	</head>
	<body>
		<div class="body-container repertoire-songs">
			<h1 class="important-text styled-text-1">My Repertoire</h1>

			<div class="repertoire-lists-container">
				<ul id="pop-music-list">
					<h4 class="important-text styled-text-1">POP MUSIC</h4>
				</ul>

				<ul id="r&b-music-list">
					<h4 class="important-text styled-text-1">R&B MUSIC</h4>
				</ul>
			</div>
			<p>
				This is only an overview of my Full Repertoire.
				<a href="../docs/full_list.pdf" class="important-text bold underline"
					>Click here</a
				>
				if you need to review The Full List (which includes more Pop, R&B and
				some classics), or
				<a
					href="mailto:sophiemystiquee@gmail.com"
					class="important-text bold underline"
					>send me an email</a
				>
				and I’ll be happy to send it to you!
			</p>

			<a href="../index.html"><button class="btn">Go Back</button></a>
		</div>
		<footer class="footer">
			<div class="footer-content">
				<p class="bold">
					<a href="https://cesarsullen.github.io" class="important-text">Saru</a
					>.
				</p>
			</div>
		</footer>
		<script src="../js/app.js"></script>
	</body>
</html>
